* {
    background-color: #f0f0ea;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Moglan";
    src: url("Moglan_DEMO.ttf")
    format("truetype");
}

@font-face {
    font-family: "Metropolis";
    src: url("MetropolisRegular.otf");
    format: ("opentype");
}

body {
    background-color: #f0f0ea;
    margin: 1rem;
    line-height: 1.5;
    font-family: "Moglan";
    font-size: 16px;
}

p {
    font-family: "Metropolis";
}

h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Moglan";
}

.header {
    width: 100%;
    position: relative;
    background-size: cover;
    border-radius: 15px;
    font-family: "Moglan";
}

#indexHr {
    display: inline-block;
    width: 70%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 90px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #060644;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #060644;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

#aboutMePic {
    width: 100%;
    display: flex;
}

#blurb {
    display: flex;
}

#blurbText {
    padding: 3%;
    padding-top: 7%;
    font-family: "Metropolis";
}

#featuredProjects {
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    font-family: "Metropolis";
}



/* PROJECTS */
video {
    width: auto;
}

.video-container {
    width: auto;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.hover-video {
    width: 120%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.3s;
}

video::-webkit-media-controls {
    color: #ee5fc1;
}

video::-webkit-media-controls-progress {
    background-color: #ec5abb;
}

#projectsBlurb {
    padding-top: 7%;
    justify-content: center;
}

#projectHr {
    color: #060644;
    background-color: rgba(255, 255, 255, 0);
}

#projectPara {
    color: #060644;
    background-color: rgba(255, 255, 255, 0);
}

#projectsPic {
    width: 70%;
}

#credits {
    padding: 3%;
    font-size: 12px;
    font-family: "Metropolis";
}

#footerLinks {
    list-style-type: none;
}

a {
    color: #1b5e8f;
}

#footerLinks a:hover {
    color: #060644;
}

hr {
    width: 99%;
    border: .01px solid #15154d;
    margin-bottom: .001%;
}

.vertical-divider {
    border-right: .1px solid #15154d;
    height: 100%;
}

#bottomText {
    margin-top: -10px;
    font-size: 12px;
    margin-left: 3%;
}