/* whole website styling */

* {
    background-color: #f0f0ea;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Moglan";
    src: url("Moglan_DEMO.ttf") format("truetype");
}

@font-face {
    font-family: "Metropolis";
    src: url("MetropolisRegular.otf");
    format: ("opentype");
}

body {
    background-color: #f0f0ea;
    margin: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
    font-family: "Moglan";
    font-size: 16px;
}

a {
    text-decoration: none;
}

p {
    font-family: "Metropolis";
}

h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Moglan";
}

/* nav/header styling */

.header-wrapper {
    width: 100%;
    border-bottom: 1px solid #060644;
    padding-bottom: 10px;
}

.header {
    margin: 0 auto;
    padding: .5rem 1rem;
    background-size: cover;
    font-family: "Moglan";
}

#indexHr {
    display: inline-block;
    width: 70%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 60px;
}

#nav-title {
    font-size: 20px;
    font-family: "Moglan";
    color: #060644;
    text-decoration: none;

}

.nav-links {
    flex: 1;
    text-align: right;
    align-items: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: 5px;
}

.nav-links ul li a {
    color: #060644;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #060644;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}



/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
    #nav-title {
        flex-direction: row;
    }

    .nav-links {
        text-align: right;
    }

    .nav-links ul li {
        display: block;
        margin-top: 10px;
    }
}

@media (min-width: 600px) {
    #nav-title {
        flex-direction: row;
    }
}


/* home page styling */

#aboutMePic {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#blurb {
    display: flex;
}

#blurbText {
    font-family: "Metropolis";
    height: 300px;
    padding-top: 10%;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.projects {
    background-color: #f0f0ea;
    transition: background-color 0.5s;
}

.projects-container {
    row-gap: 2rem;
    padding: 1rem 1rem 2rem;
    transition: background-color 0.5s;
    background-color: #f0f0ea;
}

.projects-container:hover {
    background-color: white;
}

.projects-video {
    width: 100%;
    /* overflow: hidden; */
    position: relative;
    margin-bottom: .75rem;
    background-color: transparent;
}

.projects-video video {
    width: 100%;
    object-fit: cover;
}

.home-proj {
    width: 300px;
}

.proj-small-btn {
    position: absolute;
    right: .5rem;
    bottom: -1rem;
    font-size: 2rem;
}

.proj-small-btn:hover {
    transition: color 0.3s;
    text-decoration: none;
}

#arrow {
    background-color: #060644;
    color: #f0f0ea;
    padding: .5rem;
    transition: background-color 0.3s, color 0.3s;
}

#arrow:hover {
    background-color: pink;
    color: #060644;
}

.projects-content {
    margin-bottom: 1.25rem;
    background-color: transparent;
}

.projects-subtitle {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #060644;
    margin-bottom: .75rem;
    background-color: transparent;
    font-weight: lighter;
    font-family: 'Metropolis';
}

.projects-subtitle::after {
    content: "";
    left: 0;
    top: 50%;
    width: 20px;
    height: 1px;
}

#icon {
    background-color: transparent;
    font-family: 'Metropolis';
    color: #060644;
}

.projects-title {
    font-size: 24px;
    color: #060644;
    margin-bottom: .50rem;
    background-color: transparent;
}

.projects-desc {
    font-size: 16px;
    color: #060644;
    margin-bottom: 1.25rem;
    background-color: transparent;
}

.projects-buttons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    background-color: transparent;
}

.projects-link {
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: #060644;
    font-size: 12px;
    transition: color 0.3s;
    background-color: transparent;
}

.projects-link i {
    font-size: 1rem;
    color: #060644;
    transition: color 0.3s;
    background-color: transparent;
}

.projects-link:hover,
.projects-link:hover i {
    color: pink;
    text-decoration: none;

}


/* PROJECTS */
video {
    width: 140%;
}

.video-container {
    width: auto;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.hover-video,
.autoplay-video {
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.3s;
}

video::-webkit-media-controls {
    color: #ee5fc1;
}

video::-webkit-media-controls-progress {
    background-color: #ec5abb;
}

#projectsBlurb {
    padding-top: 7%;
    justify-content: center;
}

#projectHr {
    color: #060644;
    background-color: rgba(255, 255, 255, 0);
}

#projectPara {
    color: #060644;
    background-color: rgba(255, 255, 255, 0);
}

#projectsPic {
    width: 70%;
}

#footer {
    padding: 3%;
    font-size: 12px;
    font-family: "Metropolis";
}

#footerLinks {
    list-style-type: none;
}

#footerLinks a:hover {
    color: #060644;
}

hr {
    width: 99%;
    border: .01px solid #15154d;
    margin-bottom: .001%;
}

.vertical-divider {
    border-right: .1px solid #15154d;
    height: 100%;
}

#bottomText {
    margin-top: -10px;
    font-size: 12px;
    margin-left: 3%;
}