/* whole website styling */

* {
    background-color: #f0f0ea;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Moglan";
    src: url("Moglan_DEMO.ttf") format("truetype");
}

@font-face {
    font-family: "Metropolis";
    src: url("MetropolisRegular.otf");
    format: ("opentype");
}

body {
    background-color: #f0f0ea;
    margin: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
    font-family: "Moglan";
    font-size: 16px;
}

a {
    text-decoration: none;
}

p {
    font-family: "Metropolis";
}

h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Moglan";
}

.clear-background {
    background-color: transparent;
}

/* nav/header styling */

.header-wrapper {
    width: 100%;
    border-bottom: 1px solid #060644;
    padding-bottom: 10px;
}

.header {
    margin: 0 auto;
    padding: .5rem 1rem;
    background-size: cover;
    font-family: "Moglan";
}

#indexHr {
    display: inline-block;
    width: 70%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 60px;
}

#nav-title {
    font-size: 20px;
    font-family: "Moglan";
    color: #060644;
    text-decoration: none;

}

.nav-links {
    flex: 1;
    text-align: right;
    align-items: center;
    width: 100%;
}

.nav-links ul {
    padding: 0;
    margin: 0;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: 5px;
}

.nav-links ul li a {
    color: #060644;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
}

.nav-links ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #060644;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li a:hover::after {
    width: 100%;
}



/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
    #nav-title {
        flex-direction: row;
    }

    .nav-links {
        text-align: right;
    }

    .nav-links ul li {
        display: block;
        margin-top: 10px;
    }


    .nav-links ul li a {
        display: inline-block;
    }

    .nav-links ul li a::after {
        width: 0;
    }

    .nav-links ul li a:hover::after {
        width: 100%;
    }

}

@media (min-width: 600px) {
    #nav-title {
        flex-direction: row;
    }

    #credits {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #credits .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}


/* home page styling */

#aboutMePic {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#blurb {
    display: flex;
}

#blurbText {
    font-family: "Metropolis";
    height: 300px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.projects {
    background-color: #f0f0ea;
    transition: background-color 0.5s;
}

.projects-container {
    align-items: stretch;
    row-gap: 2rem;
    padding: 1rem 1rem 2rem;
    transition: background-color 0.5s;
    background-color: #f0f0ea;
}

.projects-container:hover {
    background-color: white;
}

.projects-video {
    flex: 1;
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: .75rem;
    background-color: transparent;
    aspect-ratio: 1 / 1;
}

.projects-video video {
    width: 100%;
    object-fit: cover;
}

.home-proj {
    height: 380px;
    object-fit: cover;
}

.proj-small-btn {
    position: absolute;
    right: .5rem;
    bottom: -1rem;
    font-size: 2rem;
}

.proj-small-btn:hover {
    transition: color 0.3s;
    text-decoration: none;
}

#arrow {
    background-color: #060644;
    color: #f0f0ea;
    padding: .5rem;
    transition: background-color 0.3s, color 0.3s;
}

#arrow:hover {
    background-color: pink;
    color: #060644;
}

.projects-content {
    margin-bottom: 1.25rem;
    background-color: transparent;
}

.projects-subtitle {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #060644;
    margin-bottom: .75rem;
    background-color: transparent;
    font-weight: lighter;
    font-family: 'Metropolis';
    padding-top: 1rem;
}

.projects-subtitle::after {
    content: "";
    left: 0;
    top: 50%;
    width: 20px;
    height: 1px;
}

#icon {
    background-color: transparent;
    font-family: 'Metropolis';
    color: #060644;
}

.projects-title {
    font-size: 24px;
    color: #060644;
    margin-bottom: .50rem;
    background-color: transparent;
}

.projects-desc {
    font-size: 16px;
    color: #060644;
    margin-bottom: 1.25rem;
    background-color: transparent;
}

.projects-buttons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    background-color: transparent;
}

.projects-link {
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: #060644;
    font-size: 12px;
    transition: color 0.3s;
    background-color: transparent;
}

.projects-link i {
    font-size: 1rem;
    color: #060644;
    transition: color 0.3s;
    background-color: transparent;
}

.projects-link:hover,
.projects-link:hover i {
    color: pink;
    text-decoration: none;
}


/* PROJECTS */
video {
    width: 140%;
}

.video-container {
    width: auto;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.hover-video {
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.hover-video,
.autoplay-video {
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.3s;
}

video::-webkit-media-controls {
    color: #ee5fc1;
}

video::-webkit-media-controls-progress {
    background-color: #ec5abb;
}

#projectsBlurb {
    padding-top: 7%;
    justify-content: center;
}

#projectHr {
    color: #060644;
    background-color: rgba(255, 255, 255, 0);
}

#projectPara {
    color: #060644;
    background-color: rgba(255, 255, 255, 0);
}

#projectsPic {
    width: 70%;
}

#footer {
    padding: 3%;
    font-size: 12px;
    font-family: "Metropolis";
}

#footerLinks {
    list-style-type: none;
}

#footerLinks a:hover {
    color: #060644;
}

hr {
    width: 99%;
    border: .01px solid #15154d;
    margin-bottom: .001%;
}

.vertical-divider {
    border-right: .1px solid #15154d;
    height: 100%;
}

#bottomText {
    font-size: 12px;
    margin-left: 3%;
}


/* About Me Page */
#aboutHeaderImg {
    width: 50%;
}

.aboutHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.reactive-header {
    width: 100%;
    padding: 0;
    margin: 0;
}

.reactive-header .list .num {
    display: flex;
    align-items: center;
    transition: 0.25s;
    height: 100px;
}

.reactive-header .list .num i {
    font-size: 4rem;
    color: #000;
    margin-right: 1rem;
    opacity: 0.05;
    transition: 0.25s;
    width: 2rem;
}

.reactive-header .list .num h3 {
    position: relative;
    left: -1rem;
    color: #3d3d3d;
    font-size: 2rem;
    transition: 0.25s;
    align-items: center;
    margin-top: 1rem;
    background-color: transparent;
}

.reactive-header .list .num:hover {
    background-color: #fafafa;
    cursor: default;
}

.reactive-header .list .num:hover:before {
    opacity: 0.2;
}

.reactive-header .list .num:hover h3 {
    left: 1.25rem;
    background-color: transparent;
}

.aboutInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    transition: color 0.5s ease-in-out;
}

#accordian:hover .text {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 0 0 15px pink;
    cursor: pointer;
}

.text {
    color: #333;
    margin-right: 2rem;
    font-weight: bold;
}

.subText {
    color: #777;
    font-style: italic;
    text-align: right;
}

.resumeDownload {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 1rem;
}

#downloadBtn {
    background-color: #060644;
    color: #f0f0ea;
    align-items: center;
    padding: .5rem;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Metropolis";
    margin-left: 3rem;
}

#downloadBtn:hover {
    background-color: pink;
    color: #060644;
}

.skills-wrapper {
    padding-left: 2rem;
    font-family: "Metropolis";
}

.skills-wrapper .bar {
    padding-bottom: 1rem;
}

.skills-wrapper .bar .info {
    padding-bottom: .5rem;
}

.info {
    display: flex;
    justify-content: space-between;
}

.skills-wrapper .bar .progress-bar {
    width: 100%;
    height: 15px;
    background-color: #dddddd;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.skills-wrapper .bar .progress-bar span {
    position: absolute;
    height: 100%;
    border-radius: 10px;
    transform: scale(0);
    background-color: pink;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scale(1);
    }

    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


.skills-wrapper .bar .progress-bar span.java {
    width: 90%;
}

.skills-wrapper .bar .progress-bar span.html {
    width: 90%;
}


.skills-wrapper .bar .progress-bar span.typescript {
    width: 70%;
}

.skills-wrapper .bar .progress-bar span.sql {
    width: 50%;
}

.jobDesc {
    padding-left: 3rem;
    max-height: 0;
    overflow: hidden;
    font-size: 14px;
}

.jobDesc.show {
    max-height: 100%;
}

/* PROJECTS PAGE */
.projects-video {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.hover-video {
    width: auto;
    min-width: 0;
    height: 100%;
    min-width: 100%;
    position: relative;
}

#sugarsprint {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* design portfolio styling */
.image-container {
    overflow: hidden;
    position: relative;
    aspect-ratio: 1 / 1;
}

/* Scrollable image list */
.scrollable-images {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 3.5s ease;
}

.scrollable-images img {
    width: 100%;
    height: auto;
    display: block;
}

#top-header {
    padding-top: 1rem;
}

.project-icon {
    background-color: transparent;
}

/* General modal styling */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow-y: auto;
    pointer-events: none;
}

/* Show the modal when targeted */
.modal:target {
    display: flex;
}

/* Modal content */
.modal-content {
    background-color: #f0f0ea;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    pointer-events: auto;
}

/* close Button */
.close {
    color: #aaa;
    display: flex;
    justify-content: flex-end;
    font-size: 1.75rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #060644;
    text-decoration: none;
    cursor: pointer;
}

.modal-desc {
    padding-top: .5rem;
}

/* Container for the grid */
.img-row {
    display: flex;
    justify-content: center;
    /* Center columns horizontally */
    flex-wrap: wrap;
    /* Ensure columns wrap on smaller screens */
}

/* The columns */
.img-column {
    flex: 1 1 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.img-column img {
    opacity: 0.9;
    cursor: pointer;
    width: 100%;
}

.column img:hover {
    opacity: 1;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Base styles for the container (for smaller screens) */
.container {
    position: relative;
    display: none;
    width: 100%;
}

/* Styles for larger screens (e.g., full laptop screens) */
@media (min-width: 1024px) {
    .container {
        width: 50%;
    }
}


/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #f0f0f0;
    font-size: 35px;
    cursor: pointer;
    background-color: transparent;
}